:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #e262cc;
  text-decoration: inherit;
}

nav ul {
  display: flex;  /* Aligns items in a row */
  list-style: none; /* Removes default bullet points */
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 30px; /* Adds space between items */
}

nav ul li a {
  text-decoration: none; /* Removes underline from links */
  color: white; /* Set a contrasting color */
}
